.social__list {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  gap: 25px;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 110px;

  @include vp-1199 {
    width: 100px;
    gap: 20px;
  }

  @include vp-767 {
    width: 100%;
    gap: 33px;
    margin-left: 2px;
  }
}

.social__item svg {
  @include vp-767 {
    width: 28px;
    height: 27px;
  }
}
