// Colors
// ---------------------------------

$color-venetian-red: #b80027;
$color-dark-cerulean: #003d85;
$color-white: #ffffff;
$color-ghost-white: #f8f9fc;
$color-sapphire: #102654;
$color-egyptian-blue: #103aae;
$color-crimson: #d10a42;
$color-torch-red: #ed0233;
$color-spindle: #b6bdcc;
$color-sapphire-with-opacity-89: #102654e3;
$color-resolution-blue: #1c3374;
$color-resolution-blue-with-opacity-20: #1c337433;
$color-black-russian: #030a1a;
$color-cobalt: #003eb7;
$color-cobalt-for-number: #0041ca;
$color-persian-blue: #2e35ac;
$color-grey-with-opacity-20: #78787833;
$color-chambray: #495a7d;
$color-smalt: #00359f;
$color-whisper: #e8e8e8;
$color-spindle: #b6bdcc;
$color-light-slate-grey: #74819c;
$color-dark-grey: #afafaf;


// Typography
// ---------------------------------

$fz-default: 16px;

$ff-roboto: "Roboto Condensed", "Arial", sans-serif;
$ff-bebas: "Bebas Neue", "Arial", sans-serif;

// Viewports
// ---------------------------------

$vp-320: 320px;
$vp-767: 767px;
$vp-768: 768px;
$vp-1200: 1200px;
$vp-1210: 1210px;

// Retina
// ---------------------------------

$retina-dppx: 2dppx;
$retina-dpi: 192dpi;
